.toDo__categories {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  padding: 3rem 0px;
  margin: 0 auto;
}

.toDo__category {
  height: 40px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.toDo__category > button {
  all: unset;
  width: 100%;
  height: 100%;
  line-height: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.toDo__category > button:disabled {
  background-color: rgba(127, 127, 127, 0.1);
  border: 3px solid rgb(161, 106, 232);
  box-sizing: border-box;
  font-weight: bold;
}

.toDo__category > .add-able {
  border: 3px solid rgb(96, 63, 139);
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
}

/* Form 부분 */

.toDo__category-form {
  width: 60%;
  height: 35px;
  margin: 0px auto 2rem;
}

.add__newCategory {
  all: unset;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(127, 127, 127, 0.5);
  border-image: initial;
  border-radius: 5px;
}

.categoryForm-modal {
  display: none;
}